
:root {
  --primary-color: #ff69b4; /* Rosa Choque */
  --secondary-color: #ffb6c1; /* Rosa Claro */
  --accent-color: #dda0dd; /* Ameixa Claro */
  --background-color: #fff0f5; /* Lavanda #fff0f5*/
  --text-color: #4b0082; /* Índigo */
}



body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.image-container {
  text-align: center;
  margin-top: 20px;
}

.praying-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

h1, h2, h3, h4, h5, h6 {
  color: #4b0082;
  text-align: center;
}

button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

button:hover {
  background-color: var(--secondary-color);
}

.form-container {
  background-color: white;
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-concluido {
  text-align: center;
}
.form-concluido h7{
  color: green;
  font-size: 34px;
}

.form-dados h2 {
  text-align: left;
  margin-left: 20px;
}

.button-container {
  text-align: center;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
}

input:focus, select:focus, textarea:focus {
  border-color: var(--primary-color);
  outline: none;
}

